name: Build and Push Docker Image

on:
  release:
    types: [ published ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      - name: Build and push Docker image
        id: build-and-push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ${{ secrets.DOCKER_HUB_USERNAME }}/mtr-pathfinder-webui:${{ github.event.release.tag_name }}
            ${{ secrets.DOCKER_HUB_USERNAME }}/mtr-pathfinder-webui:latest

      - name: Image digest
        run: echo ${{ steps.build-and-push.outputs.digest }}